@import '~styles/variables';

.container {
    padding: $size-enormous;
    flex: 1;
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: $size-medium;
    font-size: 24px;
    font-weight: $font-weight-bold;
}

.form-container {
    margin: 0 auto;
    max-width: 640px;
    display: flex;
    flex-direction: column;
}

.form {
    width: 100%;
}

.input {
    margin-bottom: $size-medium;
}

.input-range {
    &-input {
        width: calc(50% - 10px);
    }

    &-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: $size-medium;
    }
}

.date-range {
    width: calc(50% - 10px);

    &-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: $size-medium;
    }
}

.error {
    font-size: $secondary-font-size;
    color: $color-error;
}

.line {
    position: absolute;
    top: 9px;
    width: 100%;
    height: 1px;
    background-color: var(--input-bg);

    &-wrapper {
        position: relative;
        display: flex;
        justify-content: center;

        .text {
            position: relative;
            padding: 0 $size-small;
            background-color: var(--page-background);
        }
    }
}

.button {
    margin-top: $size-x-large;
}
