@import '~styles/variables';

.main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    overflow: hidden;
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1;
}
