@import '~styles/variables';

:root.dark {
    // Main
    --primary: #{$dark};
    --primary-faded: #{$dark};

    // Text
    --text-main: #{$light-faded-4};
    --text-main-hover: #{$color-sky};
    --text-input: #{$light-faded-3};
    --text-input-hover: #{$color-sky};
    --text-input-placegholder: #{$dark-faded-2};
    --text-button-neutral: #{$light};
    --text-button-primary: #{$color-sky};
    --text-button-secondary: #{$dark-faded-2};

    // Generic elements
    --input-bg: #{$dark-faded-4};
    --border: #{$color-sky};
    --page-background: #{$dark};
    --button-border: #{$dark-faded-4};
    --button-border-primary: #{$color-sky};
    --button-border-secondary: #{$dark-faded-2};
    --button-bg-primary: #{$color-sky};
}
