@import '~styles/variables';
@import '~styles/mixins';

.header {
    height: 70px;
    padding: 0 $size-medium;
    display: flex;
    align-items: center;
    backdrop-filter: saturate(50%) blur(8px);
    background-color: var(--primary-faded);
}

.navigation-wrapper {
    margin-left: $size-xxx-large;
}

.login {
    font-weight: $font-weight-bold;
    @include transition(color);

    &:hover {
        color: var(--text-main-hover);
        @include transition(color);
    }

    &-wrapper {
        display: flex;
        justify-content: flex-end;
        flex: 1;
    }
}
