@import 'variables';

* {
    color: var(--text-main);
}

html {
    font-family: $font-roboto;
    font-size: $primary-font-size;
    line-height: $initial-line-height;
    box-sizing: border-box;
}

body {
    background-color: var(--page-background);
}

button {
    border: none;
}

input {
    outline: none;
}

a {
    text-decoration: none;
}
